.conteudo{
   display: flex;
justify-content: space-between;
}
 .cartao{
   background-color: black;
   color: aliceblue;
   border-radius: 56px;
   height: 344px;
   flex-grow: 1;
   width: 430px;
   flex-basis: calc(33%-6rem);

  }