.conteudo{
   display: flex;
justify-content: space-between;
}
 .cartao{
   background-color: black;
   color: aliceblue;
   border-radius: 56px;
   height: 344px;
   flex-grow: 1;
   width: 430px;
   flex-basis: calc(33%-6rem);
   margin: : 1rem 1rem;
   font-size: 28px;
   text-align: center; 

  }
  .cartao--resposta{
   font-size: 20px;

  }

  footer{
     background-color: black;
     color: aliceblue;
     position:fixed;
     bottom: 0;
     width: 100%;
    }
