#conteudo{
  display: flex;
justify-content: space-between;
}
.cartao{
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 56px;
  height: 344px;
  flex-grow: 1;
  width: 430px;
  flex-basis: calc(33%-6rem);
  margin: 1rem 1rem;
  font-size: 28px;
  text-align:center; 

 }
 .cartao--resposta{
  font-size: 20px;

 }
 .catao--conteudo{
     transform-style: preserve-3d;
     transition: transform 300ms ease-in-out;

 }

 footer{
    background-color: rgb(29, 0, 0);
    color: aliceblue;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 24px;
    font-size: 14px;
    text-align: center;
   }
